<%- include('../includes/head.ejs') %>

<body>

    <%- include('../includes/nav.ejs') %>
    <div class="parent">
        <div class="container">
            <% if (errorMessage) { %>
            <div><%= errorMessage %></div>
            <% } %>
            <form action="/login" method="POST">


                <input type="email" name="email" id="email" placeholder="Email">

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="password" name="password" id="password" placeholder="Password">
                <button class="btn" type="submit">Login</button>
            </form>
        </div>

    </div>

    <%- include('../includes/end.ejs') %>