<%- include('../includes/head.ejs') %>

<body>

    <%- include('../includes/nav.ejs') %>
    <div class="parent">
        <div class="container">
            <% if (errorMessage) { %>
            <div><%= errorMessage %></div>
            <% } %>
            <form class="login-form" action="/signup" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="email" name="email" id="email" placeholder="Email">
                <input type="password" name="password" id="password" placeholder="password">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
                <button class="btn" type="submit">Sign up</button>
            </form>
        </div>

    </div>

    <%- include('../includes/end.ejs') %>